@model IEnumerable<lukegriffithBlog.Models.Posts>

@{
    ViewBag.Title = @ViewBag.category;
}

<h2>@ViewBag.category</h2>

@foreach (var item in Model)
{

    
    <div class="col-lg-12">
        <div class="page-header"><h1>@item.title</h1><h1><small>@item.subTitle</small></h1></div> 

        <div class="well">
            @Html.Raw(item.body)
        </div>

        

        <div>
            <strong>categories: </strong>
            @foreach (var category in item.category)
            {
                @Html.ActionLink(@category.title, "category", new { id = category.id }, new { @class = "btn btn-xs btn-default" })
                

            }
        </div>
        
    </div>
}