@model IEnumerable<lukegriffithBlog.Models.Posts>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div class="jumbotron">
        <h1>lukegriffith.co.uk</h1>
        <p class="lead">Online portfolio, CV and blog. Revoles around all things technology focusing on PowerShell and the Microsoft stack</p>
        <p><a href="\Blog" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

    </div>

    <div>
        <div class="col-lg-9">
            @foreach (var item in Model)
            {

                <div class="panel-heading"><h3>@Html.ActionLink(@item.title, "Post", new { id = string.Format("{0}/{1}", item.id, item.urlSlug) })</h3><h3><small>@item.subTitle</small></h3></div>

                <strong><p>@item.timePosted.ToShortDateString()</p></strong>
                <div class="well">
                    @Html.Raw(item.body)
                </div>

                <div role="group">
                    <strong>categories: </strong>
                    @foreach (var category in item.category)
                    {
                        @Html.ActionLink(@category.title, "category", new { id = category.id }, new { @class = "btn btn-xs btn-default" })


                    }
                </div>
                <div>

                </div>

            }
        </div>
    </div>

    <div class="col-md-3">
        <div class="col-md-12">
            <h3>GitHub</h3>
            <p>
                Follow my development work at my public GitHub profile for my latests work and releases.
            </p>
            <p><a class="btn btn-default" href="https://github.com/lukemgriffith">Show me the code! &raquo;</a></p>
        </div>
        <div class="col-md-12">
            <h3>Linkedin</h3>
            <p>Check my Linkedin for my previous work experience, and what I'm currently doing in my day-to-day.</p>
            <p><a class="btn btn-default" href="https://uk.linkedin.com/in/lukemgriffith">Check me out &raquo;</a></p>
        </div>
        <div class="col-md-12">
            <h3>Blogger</h3>
            <p>Check out my Blogger blog, the old home of lukegriffith.co.uk</p>
            <p><a class="btn btn-default" href="http://blogger.lukegriffith.co.uk">Click me! &raquo;</a></p>
        </div>
    </div>



</body>
</html>
