@model lukegriffithBlog.Models.Posts

@{
    ViewBag.Title = Model.title;
}
<div class="page-header">
    <h3> @Html.DisplayFor(model => Model.title) </h3>
    @Html.DisplayFor(model => Model.subTitle)  -  @Model.timePosted.ToShortDateString()
</div>

<div class="panel panel-default">
    
    <div class="panel-body">

        

        @Html.Raw(Model.body)

    </div>

    <div class="panel-footer"> Categories: 
        @foreach (var category in Model.category)
        {
            @Html.ActionLink(@category.title, "category", new { id = category.id }, new { @class = "btn btn-xs btn-primary" }) 
        }
    </div>
</div>